@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --cor-primaria: #4C3D19;
  --cor-segundaria: #354024;
  --cor-terciaria: #889063;
  --cor-quartenaria: #CFBB99;
  --cor-quintenaria: #E5D7C4;
  --cor-branca: #f6f6f6;
  --fonte-Ds: 'Dancing Script'
}


.titulo__inicial {
    color: var(--cor-branca);
   font-size: 70px;
   height: 100%;
   font-family: var(--fonte-Ds);
   background-color: var(--cor-primaria);
}

.sub__titulo {
    color: var(--cor-branca);
    font-size: 50px;
    height: 100%;
    font-family: var(--fonte-Ds);
    background-color: var(--cor-primaria);
}

