 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

 :root {
  --cor-primaria:    #4C3D19;
  --cor-secundaria:  #354024;
  --cor-terciaria:   #889063;
  --cor-quartenaria: #CFBB99;
  --cor-quintenaria: #E5D7C4;
  --cor-branca:      #f6f6f6;
  --text-shadow: #0D530E;
  --fonte-Kr: 'Krona One', sans-serif;
  --fonte-Ms: 'Montserrat',sans-serif;
 }

 body {
    background: url(ChatGPT\ Image\ 30\ de\ mai.\ de\ 2026\,\ 16_06_50.png);
 }

 .h1__inicial {
    font-size: 30px;
    text-align: center;
    color: var(--text-shadow);
    font-family: var(--fonte-Ms);
    text-shadow:
    1px 1px 2px #227923,
    0 0 1em green,
    0 0 0.2em #207022;
 }

 .h2__sub {
   color: #fff;
   text-align: center;
   font-size: 25px;
   text-shadow:
    1px 1px 2px #202420,
    0 0 1em rgb(49, 56, 49),
    0 0 0.2em #283f28;
   /*font-family: var(--fonte-Ms); 
    text-shadow:
    1px 1px 2px #064407,
    0 0 1em green,
    0 0 0.2em #074a09; */
 }

 .h3__h3 {
   color: #fff;
   text-align: center;
   font-size: 25px;
   text-shadow:
    1px 1px 2px #202420,
    0 0 1em rgb(49, 56, 49),
    0 0 0.2em #283f28;
   /*font-family: var(--fonte-Ms); 
    text-shadow:
    1px 1px 2px #064407,
    0 0 1em green,
    0 0 0.2em #074a09; */
 }

 .nav__barra {
   position: relative;
   text-align: left;
   direction: ltr;
   display: inline-flex;
   align-items: center;
   gap: 8px;
   padding: 15px 20px;
    text-shadow:
    1px 1px 2px #0D530E,
    0 0 1em green,
    0 0 0.2em #0D530E;
   background: rgba(56, 87, 26, 0.836);
   border-radius: 60px;
   backdrop-filter: blur(15px);
   box-shadow: 0.5 solid var(--cor-branca);
 }

 .nav__barra ul {
   list-style: none;
   margin: 0;
   text-align: left;
   padding: 0;
   display: flex;
   flex-direction: row;
   gap: 12px;
   align-items: center;
 }

 .nav__barra ul li a {
   text-decoration: none;
   color: #000;
    text-shadow:
    1px 1px 2px #f4f7f4,
    0 0 1em rgb(216, 221, 216),
    0 0 0.2em #d9e6d9;
   font-weight: 600;
   font-size: 1.5rem;
   padding: 8px 16px;
   border-radius: 20px;
   display: inline-block;
   transition: transform 0.25s ease, background 0.3 ease, color 0.3 ease;
   transition: background 0.3 ease, color 0.3 ease;
   white-space: nowrap; 
 }

 .nav__barra ul li a:houver {
   background: var(--cor-branca);
   color: #fff;
   transform: scale(1.15);
   transform-origin: center;
   transition: transform 0.25 ease, background 0.3 ease, color 0.3s ease;
 }

 .nav__barra ul li a.ativo {
   background: var(--cor-branca);
   color: #fff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 }

 .alinhamento {
  display: flex;
  justify-content:center;
   
 }