*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    padding: 20px;
} 

h1 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 40px;  
}

.tabela {
    display: grid;
    grid-template-columns: repeat(18, 70px);
    gap: 5px;
    justify-content: center;
}

.elemento{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0. 4);
}

.elemento:hoover{
    transform:scale(1.1);
    box-shadow: 0 0 15px rgba (255,255,255, 0.5);
}

.numero{
    font-size: 12px;
    align-self: flex-start;
}

.simbolo{
    font-size: 24px;
    font-weight: bold;
}

.nome{
    font-size: 10px;
    text-align: center;
}


.metal{background: #f4b400;}
.nao-metal{background: #8cb34a ;}
.metaloide{background: #4fc3f7;}
.gas{background: #ce93d8;}
.halogenos{background: #E63946 ;}
.metal-alcalino{background: #E9C46A;}
.alcalino-terroso{background: #E76F51;}
.semi-metal{background: #C8A96B;}
.metal-transicao{background: #6864cf;}
.lantanideos{background: #90B800;}
.ac{background: #BBF1D2;}
