:root {
    --cor-primaria:#380B61;
    --cor-secundaria:#59429d;
    --cor-hover:#CCBBFF;
    --cor-fundo:#F0F8FF;
    --cor-formulario:#E6E6FA;
    --cor-focus:#E0E0F8;
    /* ESPACAMENTO */
    --espacamento-pequeno;0.5em;
    --espacamento-medio;1em;
    --espacamento-grande;1.5em;
    
    --tamanho-max-form: 500px;
    --tamanho-max-main: 600px;
    --raio-borda: 10px;
}

