:root {
    --tons-marrom: #8A5F41;
    --tons-marrom-claro: #A77F60;
    --tons-marrom-escuro: #412D15;
    --tons-marrom-marrom-claro: #BFA28C;
    --tons-verde: #4F5B2A;
    --tons-verde-claro: #91AC67;
    --tons-verde-vivo: #597928;
    --tons-verde-agua-escuro: #123F36;
    --tom-branco-uniq: #FDF4D2;
}

