table {
    border-collapse: separate;
    border-spacing: 6px;
    margin: auto;
}

td {
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-family: Arial;
}

.numero {
    font-size: 10px;
}

.simbolo {
    font-size: 24px;
    font-weight: bold;
}

.nome {
    font-size: 10px;
}

.metal{background: #f4b400;}
.nao-metal{background: #8cb34a ;}
.metaloide{background: #4fc3f7;}
.gas{background: #ce93d8;}
.halogenos{background: #E63946 ;}
.metal-alcalino{background: #E9C46A;}
.metal-alcalino-terroso{background: #E76F51;}
.semi-metal{background: #C8A96B;}
.metal-transicao{background: #6864cf;}
.lantanideos{background: #90B800;}
.ac{background: #BBF1D2;}